/* || FORM VARIABLES */

:root {
    --primary-color:            #EC7000;
    --secundary-color:          #003399;
    --background-color:         #EFE9E5;
    --menu-text-primary-color:  #ffffff;
    --content-background-primary-color:  #ffffff;
}